main .about {
    width: 100%;
    height: auto;
}

/* ******* Img background effect with H2 */
main .about .top-transition {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100px;
    background-image: url("../images//imgAbout.svg");
    background-position: bottom;
    background-size: cover;
}

main .about .top-transition h2 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #E55606;
    width: 240px;
    font-size: 1.4em;
}

/*
******** CONTAINER ABOUT *************
*/
main .about .about-container {
    position: relative;
    width: 90%;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #FAFAFA;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
}

/* about SLIDER */
main .about .about-container .about-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: top 0.3s ease-in;
}

main .about .about-container .about-slide.onSlide {
    top: -40%;
    transition: top 0.3s ease-in;
}

/* about IMAGE */
main .about .about-container .about-slide .about-img {
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #E55606;
    overflow: hidden;
}

main .about .about-container .about-slide .about-img img {
    width: 100%;
}

/* about CONTENT */
main .about .about-container .about-slide .about-content {
    width: 100%;
    height: 60%;
    background-color: #FAFAFA;
}

/* about CONTENT => TOP */
main .about .about-container .about-slide .about-content .top-content {
    width: 100%;
    height: 360px;
    background-color: #FAFAFA;
}

main .about .about-container .about-slide .about-content .top-content h2 {
    text-align: center;
    font-size: 1.8em;
    padding: 10px;
}

main .about .about-container .about-slide .about-content .top-content p {
    font-size: 1em;
    padding: 0 10px;
}

main .about .about-container .about-slide .about-content .top-content span {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 1.2em;
    font-weight: 900;
    color: #E55606;
    outline: none;
    cursor: pointer;
}

/* about CONTENT => BOT */
main .about .about-container .about-slide .about-content .bot-content {
    width: 100%;
    height: 300px;
    background-color: #FAFAFA;
}

/*
***********************************************************************
************************* NUMBER INFOS ********************************
***********************************************************************
*/
main .about .number-infos {
    width: 100%;
    height: 150px;
    margin-top: 50px;
    display: flex;
    background-color: aquamarine;
}

main .about .number-infos .info {
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px dashed #E55606;
    background-color: #FAFAFA;

}

main .about .number-infos .info .number {
    width: 100%;
    height: 70%;
    font-size: 4em;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .about .number-infos .info .text {
    width: 100%;
    height: 30%;
    font-size: 0.8em;
    font-weight: 900;
    text-align: center;
}

@media screen and (min-width: 768px) {
    main .about .top-transition h2 {
        font-size: 2.5em;
        width: 415px;
    }

    /*
    ***********************************************************************
    ************************* NUMBER INFOS ********************************
    ***********************************************************************
    */
    main .about .number-infos {
        width: 90%;
        margin: 0 auto;
        margin-top: 50px;
    }

    main .about .number-infos .info .text {
        font-size: 1em;
    }
}

@media screen and (min-width: 1024px) {
    main .about .about-container {
        width: 80%;
        height: 400px;
    }

    /* about SLIDER */
    main .about .about-container .about-slide {
        width: 145%;
        flex-direction: row;
        transition: left 0.3s ease-in;
    }
    
    main .about .about-container .about-slide.onSlide {
        top: 0;
        left: -45%;
        transition: left 0.3s ease-in;
    }
    
    /* about IMAGE */
    main .about .about-container .about-slide .about-img {
        width: 38%;
        height: 100%;
        border-bottom: none;
        border-right: 2px solid #E55606;
    }

    main .about .about-container .about-slide .about-img img {
        height: 100%;
        object-position: center;
        object-fit: cover;
    }
    
    /* about CONTENT */
    main .about .about-container .about-slide .about-content {
        width: 84%;
        height: 100%;
        display: flex;
    }
    
    /* about CONTENT => TOP */
    main .about .about-container .about-slide .about-content .top-content {
        position: relative;
        width: 61%;
        height: 100%;
    }
    
    main .about .about-container .about-slide .about-content .top-content h2 {
        text-align: start;
    }
    
    main .about .about-container .about-slide .about-content .top-content span {
        position: absolute;
        right: 10px;
        bottom: 10px;
        width: 155px;
    }
    
    /* about CONTENT => BOT */
    main .about .about-container .about-slide .about-content .bot-content {
        width: 50%;
        height: 100%;
    }

    /*
    ***********************************************************************
    ************************* NUMBER INFOS ********************************
    ***********************************************************************
    */
    main .about .number-infos {
        width: 60%;
        margin-top: 100px;
    }
}

@media screen and (min-width: 1440px) {
    main .about .top-transition h2 {
        bottom: 10px;
        width: 500px;
        font-size: 3em;
    }

    main .about .about-container {
        width: 80%;
        height: 500px;
    }

    main .about .about-container .about-slide .about-content .top-content p {
        font-size: 1.2em;
    }

    /*
    ***********************************************************************
    ************************* NUMBER INFOS ********************************
    ***********************************************************************
    */
    main .about .number-infos {
        width: 60%;
        margin-top: 100px;
    }

    main .about .number-infos .info .text {
        font-size: 1.3em;
    }
}
