main .about {
    width: 100%;
    height: auto;
}

/* ******* Img background effect with H2 */
main .about .top-transition {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100px;
    background-image: url("../images//imgAbout.svg");
    background-position: bottom;
    background-size: cover;
}

main .about .top-transition h2 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #E55606;
    width: 240px;
    font-size: 1.4em;
}

/*
******** CONTAINER ABOUT *************
*/
main .about .about-container {
    position: relative;
    width: 90%;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: aquamarine;
    overflow: hidden;
}

/* about SLIDER */
main .about .about-container .about-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: top 0.3s ease-in;
}

main .about .about-container .about-slide.onSlide {
    top: -40%;
    transition: top 0.3s ease-in;
}

/* about IMAGE */
main .about .about-container .about-slide .about-img {
    width: 100%;
    height: 40%;
    overflow: hidden;
}

main .about .about-container .about-slide .about-img img {
    width: 100%;
}

/* about CONTENT */
main .about .about-container .about-slide .about-content {
    width: 100%;
    height: 60%;
    background-color: aqua;
}

/* about CONTENT => TOP */
main .about .about-container .about-slide .about-content .top-content {
    width: 100%;
    height: 360px;
    background-color: red;
}

main .about .about-container .about-slide .about-content .top-content span {
    color: white;
    cursor: pointer;
}

/* about CONTENT => BOT */
main .about .about-container .about-slide .about-content .bot-content {
    width: 100%;
    height: 300px;
    background-color: blue;
}

@media screen and (min-width: 768px) {
    main .about .top-transition h2 {
        font-size: 2.5em;
        width: 415px;
    }
}

@media screen and (min-width: 1024px) {}

@media screen and (min-width: 1440px) {
    main .about .top-transition h2 {
        bottom: 10px;
        width: 500px;
        font-size: 3em;
    }
}
/* main .about {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .about .backimg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 15%;
    background-image: url("../images//imgAbout.svg");
    background-position: bottom;
    background-size: cover;
}

main .about .transition {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2em;
    text-align: center;
    color: #E55606;
}

main .about .about-container {
    width: 90%;
    min-height: 500px;
    border-radius: 5px;
    margin-top: 200px;
}

main .about .about-content {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
    background-color: #FAFAFA;
}

main .about .about-content .about-picture {
    width: 100%;
    height: 40%;
    
}

main .about .about-content .about-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid #E55606;
}

main .about .about-content .about-us {
    width: 100%;
    height: 100%;
    padding: 40px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .about .about-content .about-us h2 {
    font-size: 1.5em;
    padding-bottom: 20px;
}

main .about .about-content .about-us p {
    font-size: 1em;
    margin: 5px 0;
    text-align: center;
}

main .about .number-infos {
    width: 100%;
    height: 150px;
    margin: 0 auto;
    margin: 50px 0;
    display: flex;
}

main .about .number-infos .info {
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px dashed #E55606;
}

main .about .number-infos .info .number {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    font-weight: 900;
}

main .about .number-infos .info .text {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

@media screen and (min-width: 768px) {}
@media screen and (min-width: 1000px) {}

@media screen and (min-width: 1500px) {
    main .about .transition {
        top: 66px;
        font-size: 3.5em;
    }
    
    main .about .about-container {
        width: 70%;
        height: 500px;
        margin-top: 300px;
    }
    
    main .about .about-content {
        flex-direction: row;
    }
    
    main .about .about-content .about-picture {
        width: 40%;
        height: 100%;
        
    }
    
    main .about .about-content .about-picture img {
        border-bottom-left-radius: 5px;
        border-top-right-radius: 0px;
        border-bottom: 0px;
        border-right: 5px solid #E55606;
    }
    
    main .about .about-content .about-us {
        width: 60%;
        padding: 50px;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    main .about .about-content .about-us h2 {
        font-size: 2.5em;
    }
    
    main .about .about-content .about-us p {
        font-size: 1.2em;
        margin: 15px 0;
        text-align: start;
    }

    main .about .brick-bottom {
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
    }

    main .about .brick-bottom img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    main .about .number-infos {
        width: 60%;
        height: 200px;
        margin: 0 auto;
        margin: 50px 0;
        display: flex;
    }
    
    main .about .number-infos .info {
        width: calc(100% / 3);
        height: 100%;
        display: flex;
        flex-direction: column;
        border: 1px dashed #E55606;
    }
    
    main .about .number-infos .info .number {
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 6em;
        font-weight: 900;
    }
    
    main .about .number-infos .info .text {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
    }
} */