/*
================ HEADER :
*/
header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
}

header .nav-infos {
    width: 100%;
    height: 30px;
    background-color: #3C3D3D;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: none;
}

header .nav-infos span {
    color: #fff;
    font-size: 0.7em;
}

header .navbar {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #FAFAFA;
    box-shadow: 0px 5px 3px -5px #A3A3A3;
    display: flex;
    align-items: center;
}

header .navbar .logo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 50px;
}

header .navbar .logo img {
    width: 100%;
}

header .navbar .links {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E55606;
    transition: top 0.3s ease-in;
}

/* menu active mobile */
header .navbar .links.active {
    top: 50px;
    transition: top 0.3s ease-in;
}

header .navbar .links a {
    text-decoration: none;
    padding: 5px;
    margin-right: 5px;
    color: white;
    text-transform: uppercase;
    font-size: 0.6em;
    font-weight: 400;
    cursor: pointer;
}

header .navbar .btn-contact {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    width: 80px;
    height: 50px;
    background-color: #E55606;
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
    display: none;
}

/*
************* tel fast :
*/
header .navbar .fast-tel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 200px;
    width: 220px;
    display: flex;
    display: none;
    color: black;
    cursor: pointer;
}

header .navbar .fast-tel:hover {
    color: #E55606;
}

header .navbar .fast-tel .tel-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #E55606;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .navbar .fast-tel .tel-logo img {
    width: 60%;
}

header .navbar .fast-tel .tel-number {
    display: flex;
    padding-left: 10px;
    justify-content: center;
    align-items: center;
}

/*
************* MENU BURGER :
*/
header .navbar .btn-toggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 50px;
    background-color: #E55606;
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
************ MENU MOB BOTTOM ****************
*/
header .menu-mob-bottom {
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #FAFAFA;
    box-shadow: -1px 1px 20px 0px #a3a3a3;
    display: flex;
    justify-content: space-around;
}

header .menu-mob-bottom .item-mob {
    width: 50px;
    height: 50px;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
}

header .menu-mob-bottom .item-mob img {
    width: 60%;
}

header .menu-mob-bottom .item-mob img:hover {
    transform: scale(1.2);
}

@media screen and (min-width: 768px) {
    header .menu-mob-bottom {
        display: none;
    }
}

/*
================ HEADER DESKTOP:
*/
@media screen and (min-width: 1000px) {
    header .nav-infos {
        display: inline-block
    }

    header {
        width: 100%;
        height: 130px;
    }

    header .navbar {
        width: 100%;
        height: 100px;
    }
    
    header .navbar .logo {
        position: absolute;
        left: 100px;
        top: 50%;
        transform: translateY(-50%);
        width: 180px;
        height: 80px;
    }
    
    header .navbar .links {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        background-color: rgba(255, 255, 255, .4);
        width: 500px;
        height: 100%;
    }
    
    header .navbar .links a {
        text-decoration: none;
        padding: 5px;
        margin-right: 30px;
        color: black;
        text-transform: uppercase;
        font-size: 1em;
        font-weight: 700;
    }

    header .navbar .links a:hover {
        color: #E55606;
        transition: all 0.3s ease-in-out;
    }
    
    header .navbar .btn-contact {
        position: absolute;
        right: 50px;
        top: 50%;
        transform: translateY(-50%);
        width: 100px;
        height: 50px;
        background-color: #E55606;
        box-shadow: 0px 5px 3px -5px #A3A3A3;
        color: white;
        border: none;
        cursor: pointer;
        filter: contrast(0.9);
        display: inline-block;
    }

    header .navbar .btn-contact:hover {
        filter: contrast(2);
    }

    header .navbar .btn-toggle {
        display: none;
    }

    header .navbar .fast-tel {
        display: inline-flex;
    }
}
