main .services {
    width: 100%;
    min-height: 100vh;
    background-color: #FAFAFA;
}

main .services .services-transition {
    width: 100%;
    height: 80px;
    background-color: #3C3D3D;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .services .services-transition p {
    font-size: 0.9em;
    text-align: center;
    color: #E55606;
}

main .services .services-container {
    width: 100%;
    height: 100%;
    padding: 10px;
}

main .services .services-container .box_services {
}

/* **************** CARD SERVICE **************** */
main .services .services-container .srv-card {
    position: relative;
    width: 350px;
    height: auto;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    cursor: pointer;
}

/* TOP CARD */
main .services .services-container .srv-card .top-card {
    position: relative;
    width: 100%;
    height: 500px;
    
}

/* BOT CARD */
main .services .services-container .srv-card .bot-card {
    position: relative;
    width: 100%;
    height: 0;
    transition: height 0.5s ease-in-out;
}

/* class to move bot card */
main .services .services-container .srv-card.downCard .bot-card {
    height: 300px;
    transition: height 0.5s ease-in-out;
}

/* BTN to active bot card */
main .services .services-container .srv-card .btn_srv-card {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 80px;
    height: 40px;
    color: #E55606;
    cursor: pointer;
}

/* CARD Image */
main .services .services-container .srv-card .top-card .card-img {
    width: 100%;
    height: 40%;
    border-bottom: 1px solid #E55606;
    overflow: hidden;
}

main .services .services-container .srv-card .top-card .card-img img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;    
}

main .services .services-container .srv-card .top-card .card-content {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .services .services-container .srv-card .top-card .card-content h2 {
    padding: 10px;
    font-size: 1.8em;
}

main .services .services-container .srv-card .top-card .card-content ul {
    padding: 20px;
    font-size: 1.2em;
}


/*
================ HEADER TAB:
*/
@media screen and (min-width: 768px) {}

/*
================ HEADER DESKTOP:
*/
@media screen and (min-width: 1024px) {}

@media screen and (min-width: 1440px) {
    main .services {
        position: relative;
    }

    main .services .services-container {
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        height: 100%;
    }

    main .services .services-container .box_services {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1000px;
        height: 500px;
        margin: auto;
    }

    /* **************** CARD SERVICE **************** */
    main .services .services-container .srv-card {
        display: flex;
        width: 300px;
        height: auto;
        margin: 0;
        background-color: #fff;
        box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
        border-radius: 5px;
        z-index: 1;

        transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
    }

    /* Position absolute to card */
    main .services .services-container .srv-card.card1 {
        position: absolute;
        top: 0;
        left: 0;
    }

    main .services .services-container .srv-card.card2 {
        position: absolute;
        top: 0;
        left: 35%;
    }

    main .services .services-container .srv-card.card3 {
        position: absolute;
        top: 0;
        left: 70%;
    }

    main .services .services-container .srv-card .top-card {
        position: relative;
        width: 300px;
        height: 500px;  
    }

    main .services .services-container .srv-card .bot-card {
        position: relative;
        width: 0;
        height: 500px;
        transition: width 0.5s ease-in-out;
    }

    /* class to display bot card == DOWNCARD == */
    main .services .services-container .srv-card.downCard {
        width: 900px;
        transition: width 0.5s ease-in-out;
    }

    /* class to slide bot card == ACTIVED == */
    main .services .services-container .srv-card.actived {
        z-index: 1;
        left: 0;
        transition: left 0.5s ease-in-out;
    }

     /* class to slide bot card == ONSLIDE == */
    main .services .services-container .srv-card.onSlide {
        z-index: 0;
        left: 0;
        transition: left 0.5s ease-in-out;
    }

    /* display big card single == DOWNCARD == */
    main .services .services-container .srv-card.downCard .bot-card {
        width: 500px;
        height: 500px;
        border-left: 2px solid #E55606;
        transition: width 0.5s ease-in-out;
    }

    /* BTN to active bot card */
    main .services .services-container .srv-card .btn_srv-card {
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 130px;
        height: 40px;
    }

    /* CARD Image */
    main .services .services-container .srv-card .top-card .card-img {
        width: 300px;
        height: 40%;
        border-bottom: 1px solid #E55606;
        overflow: hidden;
    }

    main .services .services-container .srv-card .top-card .card-img img {
        width: 300px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    main .services .services-container .srv-card.downCard .top-card .card-img img {
        border-top-right-radius: 0px;
    }
}